body,
html {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  display: block;
  font-family: "Roboto", sans-serif;
}
div#root {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
}
button.button.is-primary.comprar_item {
  margin-left: 4rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#content_body_page {
  background: #ededed;
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 0 !important;
  height: calc(100% - 52px);
}
#content_body_page::-webkit-scrollbar {
  width: 10px !important;
  height: 10% !important;
  padding-top: 15px !important;
  padding: 20px 0 !important;
}
#content_body_page::-webkit-scrollbar-thumb {
  background: #e4c3f9 !important;
  border-radius: 10px !important;
}
#content_body_page::-webkit-scrollbar-thumb:hover {
  background: var(--color-contorno-borde) !important;
  padding: 20px 0 !important;
}
.padding_bottom {
  padding-bottom: 1rem;
}
.title_home {
  font-weight: 900;
  text-align: center;
  margin: 0.5rem 0;
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
}
.w100 {
  width: 100%;
  display: block;
}
.text_aling_center {
  text-align: center;
}
.txt_left_negrita {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 0.8rem;
  color: #010101;
  font-weight: bold;
  padding-right: 5px;
  font-family: "Roboto", sans-serif;
}
.txt_left_negrita_claro {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 0.9rem;
  color: #4a4a4a;
  font-weight: bold;
  padding-right: 5px;
  font-family: "Roboto", sans-serif;
}
.lado_izquiero_linea {
  display: inline-block;
  width: 50%;
  padding: 5px;
  border-right: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
}
.lado_derecho_linea {
  display: inline-block;
  width: 50%;
  padding: 5px;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}
.margin_top_bot {
  margin: 7px 0;
}
._padding_box {
  padding: 2rem 3rem;
}
.cant_number_producto {
  display: inline-block;
  width: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  color: #4a4a4a;
  font-weight: bold;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
}
.imagen_producto {
  width: auto !important;
  padding: 10px !important;
  top: 0 !important;
  left: 0 !important;
}
.is_zoom {
  padding: 2rem !important;
}
.is_zoom:hover {
  transform: scale(1.1) !important;
  cursor: pointer;
}
/* ITEMDETAIL */
.padding_detail_item {
  padding: 10rem 16rem;
}
.content_lado_left {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 450px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.content_lado_rigth {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 450px;
  box-sizing: border-box;
}
.txt_aling_left {
  text-align: left;
}
.imagen_detail {
  width: auto;
  height: 100%;
  display: block;
  padding: 5px;
}
